@import 'variables';

.Posts{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.post-listing {
  margin: 25px;
  padding: 5px;
  background-color: #f5f5dc;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
}

.main-container {
  display: flex;
  flex-flow: row nowrap;
  min-width: 60%;
  color: #bbb;
  > * {
    margin: 15px;
  }
}

.post-button {
  border: none;
  background: none;
  color: #119119;
  &:hover {
    cursor: pointer;
    color: #0f8216;
  }
  &:active {
    color: #0d7314;
  }
}

.banner-image {
  width: 500px;
  height: auto;
  display: block;
}
